<!DOCTYPE html>

<head>
    <meta charset="utf-8" >
    <title>POK - Football Fantasy</title>
    <link href="style.css" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
    <script src="/server.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo_botola">
                <a href="/"><img src="images\logo\botolapro.png" alt="Logo Botola Pro1" ></a>
            </div>
            
            <div class="container">
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/wydad-athletic/2yuuwjkA/" target="_blank"><img src="./images/logo/wydad-casablanca.png" alt="wydad-casablanca Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/raja-casablanca/vTnNkCKc/" target="_blank"><img src="images\logo\raja-casablanca.png" alt="raja-casablanca Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/moghreb-tetouan/OWfdXU4T/" target="_blank"><img src="images\logo\matlogo.png" alt="MAT Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/maghreb-fez/ptdhYAkN/" target="_blank"><img src="images\logo\maslogo.png" alt="MAS Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/chabab-mohammedia/vkhbxFLo/" target="_blank"></a><img src="images\logo\sccm.png" alt="Chabab Logo">
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/berkane/Me4oCiMn/" target="_blank"><img src="images\logo\rsb.png" alt="Berkan Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/fus-rabat/zP99MHKe/" target="_blank"><img src="images\logo\fus.png" alt="FUS Logo"></a> 
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/far-rabat/CMn7Clai/" target="_blank"><img src="images\logo\far.png" alt="FAR Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/mouloudia-oujda/tCsOSlDp/" target="_blank"><img src="images\logo\oujda.png" alt="Oujda Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/jeunesse-sportive-soualem/n7cFBVja/" target="_blank"><img src="images\logo\soualem.png" alt="Soualem Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/union-touarga/GKY9yk5c/" target="_blank"><img src="images\logo\touareg.png" alt="Touareg Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/tanger/xUZ5xVki/" target="_blank"><img src="images\logo\irt.png" alt="IRT Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/agadir/04t7zgjb/" target="_blank"><img src="images\logo\hassania-agadir.png" alt="hassania-agadir Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/youssoufia-berrechid/tItrKfYJ/" target="_blank"><img src="images\logo\berrechid.png" alt="DHJ Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/safi/fFoSR8Sj/" target="_blank"><img src="images\logo\olympic-safi.png" alt="olympic-safi Logo"></a>
                </div>
                <div class="logo">
                    <a href="https://www.flashscore.fr/equipe/renaissance-zemamra/M50CklHf/" target="_blank"><img src="images\logo\zemamra.png" alt="Zemamra Logo"></a>
                </div>
            </div>

            </div>
            <div class="navigation">
                <a href="/">Accueil</a>
                <a href="/ligue">Botola Pro</a>
                <a href="/fantasy">Fantasy</a>
                <a href="/login">Se Connecter</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="head">
            <div>
                <h1>Mon Compte</h1>
            </div>
        </section>
        
        <section class="login">
            <div>
                <h2>Se connecter</h2>
            </div>
            <form method="post" action="/login">
                <div class="area">
                    <label for="mail">E-mail</label>
                    <input type="email" name="mail" id="mail" required >    
                </div>
                <div class="area">
                    <label for="mdp">Votre Mot de Passe</label>
                    <input type="password" name="mdp" id="mdp" required>    
                </div>
                <div class="submit">
                    <input type="submit" value="Se Connecter">
                </div>
            </form>
            <div class="msg">
                <a href="/register">Première connexion? Créez un Compte!</a>
            </div>
        </section>

    </main>
    <footer>
        <img src="images\logo\botolapro.png" alt="Logo Botola Pro1" width="50px" >
        <div>
            <a target="_blank" href="https://github.com/Omar-Salame" class="lien-icone">
                <img src="images\github-mark.svg" alt="Logo github" width="35px" >
            </a>
        </div>
    </footer>
</body>